APP_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/?replicaSet=rs0
MONGODB_DATABASE=platter_development
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@example.test
SMTP_USER=
SMTP_PASSWORD=
SMTP_SECURE=false
REALTIME_PORT=3001
NEXT_PUBLIC_REALTIME_URL=http://localhost:3001
ALLOWED_ORIGINS=http://localhost:3000
POSTHOG_ENABLED=false
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
